[submodule "develop/tinycrc"]
	path = develop/tinycrc
	url = ../tinycrc.git
[submodule "develop/psutil"]
	path = develop/psutil
	url = ../psutil.git
[submodule "develop/wmi"]
	path = develop/wmi
	url = ../wmi.git
[submodule "misc/pymarkdown"]
	path = misc/pymarkdown
	url = ../pymarkdown.git
[submodule "misc/pyang"]
	path = misc/pyang
	url = ../pyang.git
